@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#breadcrumb a {
  text-decoration: underline;
}
#breadcrumb li::after {
  content: " > ";
  margin: 0 6px;
}
#breadcrumb li:last-child:after {
  content: "";
}

.link-category {
  font-weight: 700;
  text-decoration: underline;
  &:hover {
    opacity: 0.5;
  }
}

#list-categories-section {
  li {
    margin: 10px 0;
  }
}

hr {
  border-top-color: #acbbc7;
}

#top_footer li {
  margin: 10px 0;
  font-size: 14px;
}

.link-others-services a:hover {
  text-decoration: underline;
}
.link-others-services li {
  display: inline-flex;
  white-space: normal;
}
.link-others-services li::after {
  white-space: pre;
  content: " · ";
}
.link-others-services li:first::after {
  content: none;
}
.link-others-services li:last::after {
  content: none;
}

.text-headline-2 {
  font-size: 18px;
  font-weight: 700;
}

.text-caption {
  font-size: 12px;
  opacity: 0.7;
}

.right-menu::after {
  display: block;
  content: "";
  border-bottom: solid 2px #ec5a12;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.right-menu::after:hover {
  transform: scaleX(1);
}

.text-subhead {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}
